// =============================================================================
// > MODULES: TYPOGRAPHY - LINKS
// =============================================================================

a
    text-decoration: none
    color: inherit

a:not([class]),
.link
    position: relative
    cursor: pointer
    text-decoration: underline
    text-underline-offset: 3px

    +font(primary)
    &:hover
        +font(secondary)