// =============================================================================
// > LAYOUTS: MODULES - LISTS
// =============================================================================

ol,
ul
    list-style: none

ul:not([class]),
ol:not([class]),
.list
    margin: 1em 0
    & &
        margin: .35em 0

ul:not([class]) > li,
ol:not([class]) > li,
.list > li,
.list__item
    position: relative
    margin-bottom: .4em
    &::before
        +font(text)
        +absolute(left 0 top 0)

// =============================================================================
// > BULLETS
// =============================================================================

// ========== COLORS ========== //
@each $slug, $value in $colors
    .list--bullets-#{"" + $slug} > li::before,
    .list__item--bullet-#{"" + $slug}::before
        color: $value !important

// ========== DEFAULT / UL ========== //
ul:not([class]),
.list--circle
    &,
    & &
        & > .list__item,
        & > li
            padding-left: .8em
            &::before
                +fa(circle)
                font-size: .5em
                top: .75em
    & &
        & > .list__item::before,
        & > li::before
            +far(circle)


// ========== NUMBERS / OL ========== //
ol:not([class]),
.list--numbers
    counter-reset: item

ol:not([class]),
.list--numbers
    & > .list__item,
    & > li
        padding-left: 1.2em
        &::before
            content: counter(item)"."
            counter-increment: item
            +font(bold right)
            left: auto
            right: 100%
            transform: translate(1em)

// ========== CARRETS ========== //
.list--carrets > .list__item,
.list--carrets > li,
.list__item--carret
    padding-left: .8em
    &::before
        +fa(caret-right)

// ========== ANGLES ========== //
.list--angles > .list__item,
.list--angles > li,
.list__item--angle
    padding-left: 1.2em
    &::before
        +fa(angle-right)

// ========== ARROWS ========== //
.list--arrows > .list__item,
.list--arrows > li,
.list__item--arrow
    padding-left: 1.35em
    &::before
        +fa(arrow-right)

// ========== CHECKS ========== //
.list--checks > .list__item,
.list--checks > li,
.list__item--check
    padding-left: 1.35em
    &::before
        +fa(check)

// ========== TIMES ========== //
.list--times > .list__item,
.list--times > li,
.list__item--time
    padding-left: 1.35em
    &::before
        +fa(times)