// =============================================================================
// > LAYOUTS: MODULES - GUI: IMAGES
// =============================================================================

img,
.img
    display: block
    max-width: 100%
    height: auto

.img
    // ========== STYLES ========== //
    &--white-border
        border: 3px solid white
        box-shadow: 0 0 0 1px darken(color(light-grey), 10%)

    &--fullwidth
        width: 100% !important
        height: auto

    &--fullheight
        height: 100%
        width: auto

    &--round
        border-radius: 50%