// =============================================================================
// > MODULES: INTERACTIVE - COLLAPSABLE
// =============================================================================

.collapsable
    overflow: hidden

    // ==================================================
    // > HEADER
    // ==================================================
    &__header
        +font(18px 1.2 bold primary)
        padding: 1em 2.5em 1em 0
        position: relative
        cursor: pointer
        z-index: 50
        border-bottom: 1px solid color(light-grey)
        transition: all .35s ease

        &::before
            +far(chevron-right)
            +font(1 1 center)
            +size(1em)
            +absolute(top 50% right .5em)
            transition: all .5s ease
            transform: translateY(-50%)

        &:hover
            +font(secondary)

    // ==================================================
    // > CONTENT
    // ==================================================
    &__content
        box-sizing: border-box
        padding: .5em 0

    // ==================================================
    // > STATES
    // ==================================================
    &.is-open &__header::before
        transform: translateY(-50%) rotate(90deg)