// =============================================================================
// > LAYOUTS: TEMPLATES - SINGLE
// =============================================================================

.single

    // ==================================================
    // > LAYOUT
    // ==================================================
    &__aside
        flex: 2
    &__main
        flex: 3

    // ==================================================
    // > NAV
    // ==================================================
    &__category
        +font(22px bold primary)
        &:hover
            +font(secondary)

    &__date
        +font(22px regular)
        &::before
            content: " – "

    // ==================================================
    // > SHARE
    // ==================================================
    &__share
        +flex(row nowrap, space-between, center)
        margin-top: 1em
        &__title
            +font(20px)
        &__icons
            justify-content: flex-start
        &__icons .icons__link
            +font(20px secondary)
            &:hover
                background: none
                +font(ternary)

    // =============================================================================
    // > CONTENT TYPE
    // =============================================================================
    // &-news &
    //     &__aside
    //         flex: 1