// =============================================================================
// > MODULE - FORMS : ARCHIVE-FILTERS
// =============================================================================

.archive-filters
    +flex(row nowrap, center, flex-end)

    &__set
        flex: 1
        padding: .75em
        max-width: 250px

    // =============================================================================
    // > RESPONSIVE
    // =============================================================================
    +screen(xs)
        flex-flow: column
        &__set
            max-width: 100%
            width: 100%
            padding: 0