// =============================================================================
// > MODULES - FORMS: LOGIN
// =============================================================================

.loginform
    max-width: 400px
    margin: 0 auto

    &__password
        label
            width: 100%
        &__reset
            +font(12px 2 light)
            float: right
            &:hover
                +font(primary)

    &__remember
        +font(14px)

    &__submit
        +flex(row nowrap, space-between, center)