// =============================================================================
// > ASSETS: VARIABLES
// =============================================================================

// ==================================================
// > COLORS
// ==================================================
// Usage : color(primary)
$colors: (
    // Project
    primary:    #a1f2ca,
    secondary:  #282828,

    // Texts
    text:       #111,

    // General
    success:    ​#66cc66,
    error:      #e05252,

    // Greys
    light-grey: #f8f7f7,
    medium-grey:#b3b3b3,
    dark-grey:  #282828,
    white:    #fff,
    black:    #111

);


// ==================================================
// > FONTS
// ==================================================
$fonts: (
    "Roboto-Light",
    "Roboto-Regular",
    "Roboto-Bold"
);

// Usage : font(regular)
$fonts-stacks: (
    regular: ("Roboto-Regular", "Roboto-Light", "Helvetica", "Arial", sans-serif),
    light:   ("Roboto-Light", "Roboto-Regular", "Helvetica", "Arial", sans-serif),
    bold:    ("Roboto-Bold", "Roboto-Regular", "Helvetica", "Arial", sans-serif),
);


// ==================================================
// > BREAKPOINTS
// ==================================================
// Usage : breakpoint(md) / container(sm)
$responsive: (
    md: (
        breakpoint: null,
        container: 960px,
        spacingratio: 1
    ),
    sm: (
        breakpoint: 1040px,
        container: 600px,
        spacingratio: .75
    ),
    xs: (
        breakpoint: 640px,
        container: 300px,
        spacingratio: .5
    )
);


// ==================================================
// > SPACING
// ==================================================
// Usage : spacing(xs)
$spacing: (
    no: 0px,
    xs: 12px,
    sm: 24px,
    ms: 30px,
    md: 60px,
    lg: 120px,
    xl: 240px
);


// ==================================================
// > EASINGS
// ==================================================
// Usage : easing(bounce)
$easing: (
    bounce: cubic-bezier(0.680, -0.550, 0.265, 1.550)
)