extends ../templates/_base


//- ==================================================
//- > CONTENT
//- ==================================================

block sections

    h1 Error 404

    p This page does not exist.